@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .custom-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
  }
 